<td><%= link_to track.name, track %></td>

<td><%= link_to track.owner.name, track %></td>

<td>
  <%= link_to 'Show', track, class: 'm-right m-left' %>
  <% if current_user.account_owner? || current_user.account_admin? || current_user == track.owner %>
    <%= link_to 'Edit', edit_track_path(track), class: 'm-right m-left' %>
  <% end %>
</td>
