<td><%= link_to track.name, track %></td>

<td><%= link_to track.owner.name, track %></td>

<td>
  <%= link_to 'Show', track, class: 'm-right m-left' %>
  <% if current_user.has_any_role?({ name: :account_owner, resource: current_company }, { name: :account_admin, resource: current_company }, { name: :track_owner, resource: track })%>
    <%= link_to 'Edit', edit_track_path(track), class: 'm-right m-left' %>
  <% end %>
</td>
