<div class="container">
  <div class="row">
    <h3>Track</h3>
    <div class="column">

      <table class="sortable_table table table-bordered table-striped ">
        <thead>
          <tr>
            <th class="disabled">
              Name
            </th>
            <th class="disabled">
              Owner
            </th>
            <th class="disabled">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
            <tr>
              <%= render track %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @tracks %>
    </div>
  </div>
</div>