<div class="container">
  <div class="row">
    <div>
      <% if current_user.account_owner? || current_user.account_admin? %>
        <%= link_to 'Create Track', new_track_path,  class: 'btn btn-primary btn-lg pull-right m-right-150x' %>
      <% end %>
      <h3 class="m-left-125x">Track</h3>
    </div>

    <div class="column m-left-x">

      <table class="sortable_table table table-bordered table-striped">
        <thead>
          <tr>
            <th class="disabled">
              Name
            </th>
            <th class="disabled">
              Owner
            </th>
            <th class="disabled">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
            <tr>
              <%= render track %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @tracks %>
    </div>
  </div>
</div>