<%= render partial: 'side_navigation' %>
<div class="container col-md-10 bg-fff h500">
  <div class="row">
    <div class="column m-left-0x">

      <table class="sortable_table table table-bordered table-striped m-left">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @track_runners.each do |track_runner| %>
            <tr>
              <td><%= track_runner.name %></td>
              <td><%= track_runner.email %></td>
              <td><%= link_to 'Show', status_track_path(@track, runner: track_runner) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
