<p>You can log in to your new account at vtapp.domain4now.com using:</p>

<p>- your login: <%= @user_email %></p>

<p>- your password: <%= @password %> (you should change that in the ‘Your profile’ options)<p>