<%= render partial: 'tracks/side_navigation' %>
<%= link_to 'New Task', new_track_task_path(@track), class: 'btn btn-default btn-lg m-top m-left-5x' %>
<div class="col-md-8">
  <ol class="sortable_tree" data-max_levels='2' data-rebuild_url='rebuild'>
    <%= sortable_tree(@tasks, namespace: @track) %>
  </ol>
</div>
