<nav class="navbar navbar-default" role="navigation" id="topmenu">
  <div class="container">
      <ul class="nav navbar-nav">
        <%= render 'shared/navigation_links' %>
      </ul>
  </div>
</nav>
