<ul class="dropdown-menu dropdown" >
  <li><%= link_to 'All Tracks', tracks_path %></li>

  <% if can? :udpate, Track %>
    <li><%= link_to 'Track Owned', tracks_path(type: Track::ROLES[:track_owner]) %></li>
  <% end %>

  <% if can? :runners, Track %>
    <li><%= link_to 'Track to review', tracks_path(type: Track::ROLES[:track_reviewer]) %></li>
  <% end %>

  <% if can? :show, Track %>
    <li><%= link_to 'Track Assigned', tracks_path(type: Track::ROLES[:track_runner]) %></li>
  <% end %>
</ul>