<ul class="dropdown-menu dropdown" >
  <% if current_user.account_owner? || current_user.account_admin? %>
    <li><%= link_to 'All Tracks', tracks_path %></li>
  <% end %>

  <% if current_user.is_track_owner_of?(:any) %>
    <li><%= link_to 'Track Owned', tracks_search_path(type: 'owner') %></li>
  <% end %>

  <% if current_user.is_track_reviewer_of?(:any) %>
    <li><%= link_to 'Track Reviewer', tracks_search_path(type: 'reviewer') %></li>
  <% end %>

  <% if current_user.is_track_runner_of?(:any) %>
    <li><%= link_to 'Track Assigned', tracks_search_path(type: 'runner') %></li>
  <% end %>
</ul>