<td><%= link_to company.name, company %></td>
  <!-- FIXME -> owners is not a scope in company -->
  <!-- #FIXED -->
<% #FIXME_AB: Why displaying first user's email? any specific reason -%>
<td><%= link_to company.users.first.email, company %></td>
<td>
  <%= link_to 'Show', company %>
  <%= render partial: 'link_to_enabled', locals: { company: company } %>
</td>
