<div id="error_explanation">
  <h2>
    <%= pluralize(object_with_errors.errors.count, "error") %> prohibited this company from being saved:
  </h2>

  <ul>
    <% if !object_with_errors.errors[:name].blank? %>
      <li><%= object_with_errors.errors.full_messages_for(:name).join('and') %></li>
    <% end %>
    <% if !object_with_errors.errors[:users].blank?%>
      <li>Owner Error</li>
      <ul>
        <% object_with_errors.users.first.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>