<div class="container">
  <div class="row">
    <h3>Company</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <th>
              Company name
            </th>
            <th>
              Email
            </th>
            <th>
              Actions
            </th>
          </tr>
          <% @companies.each do |company| %>
            <tr>
              <%= render company %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
