<div class="container">
  <div class="row">
    <h3>Company</h3>
    <div class="column">
      <table class="sortable_table table">
        <thead>
          <tr>
            <th class="table-sorter-header">
              Company Name
            </th>
            <th>
              Email
            </th>
            <th class="disabled">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <%= render company %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
