.m-top { margin-top: 15px; }
.m-top-50x { margin-top: 50px; }
.m-top-x { margin-top: 100px; }
.m-top-150x { margin-top: 150px; }
.m-top-2x { margin-top: 200px; }


.m-down-x { margin-bottom: 10px; }
.m-down-2x { margin-bottom: 20px; }

.alert {
  margin-left: 0px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 1170px;
}

.space {
  padding: 10px;
}

.m-form-left { margin-left: 150px; }
.m-left { margin-left: 15px; }
.m-left-0x { margin-left: 50px; }
.m-left-x { margin-left: 100px; }
.m-left-125x { margin-left: 125px; }
.m-left-2x { margin-left: 200px; }
.m-left-3x { margin-left: 250px; }
.m-left-35x { margin-left: 275px; }
.m-left-375x { margin-left: 300px; }
.m-left-4x { margin-left: 350px; }
.m-left-45x { margin-left: 400px; }
.m-left-425x { margin-left: 425px; }
.m-left-450x { margin-left: 450px; }
.m-left-475x { margin-left: 475px; }
.m-left-5x { margin-left: 450px; }
.m-left-525x { margin-left: 525px; }
.m-left-550x { margin-left: 550px; }
.m-left-6x { margin-left: 600px; }
.m-left-7x { margin-left: 700px; }
.m-left-8x { margin-left: 800px; }


.m-right { margin-right: 15px; }
.m-right-x { margin-right: 100px; }
.m-right-150x { margin-right: 150px; }
.m-right-1x { margin-right: 200px; }
.m-right-2x { margin-right: 300px; }
.m-right-3x { margin-right: 400px; }
.m-right-4x { margin-right: 500px; }


.p-right { padding-right: 6px; }
.p-left { padding-left: 6px; }
.p-left-x { padding-left: 13px; }



table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #444444;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.active { color: white !important; }

.user-detail { color: white !important; }

.readonly {
  background-color: #BDBDBD;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  padding-left: 10px;
}

p.form-control {
  height: auto;
}

.form-well {
  padding: 20px;
  background-image: linear-gradient(to bottom, #D8D8D8 0%, #E5E5E5 100%);
  background-repeat: repeat-x;
  border-color: #CBCBCB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
