<p>Hi <%= @resource.name %>!</p>

<p>We received a request from you to reset your vtapp password. To complete the process, simply click the link/button below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>The link is valid for 6 hours.</p>
<p>If you don't want to change your vtapp password you can ignore this mail.</p>
